VIZARD_ICECLASS_DIR=C:\Users\maksi\Downloads\vizard_iceclass\Dataset_2025_IceClass
VIZARD_COMPOSITE_DIR=C:\Users\maksi\Downloads\vizard_composite\Dataset_2025_composite
VIZARD_STORAGE_DIR=../storage
VIZARD_SQLITE_PATH=../storage/metadata.db
VIZARD_MODEL_DEVICE=cuda
VIZARD_MODEL_INPUT_SIZE=512
VIZARD_PREVIEW_MAX_WIDTH=2048
VIZARD_ROUTE_GRID_SIZE=512
VIZARD_CORS_ORIGINS=http://localhost:8080,http://127.0.0.1:8080
